/* Card */
.card {
  margin: 10px;
  height: 100%;
  width: 50%;
}

.content {
  display: flex;
}

.details {
  width: 100%;
}

/* Title */
.title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #312d2d;
}

/* List */
.listItem {
  border: 1px rgb(87, 83, 83) solid;
  font-size: 0.8em;
  float: right;
  cursor: pointer;
  background-color: #312d2d;
  color: whitesmoke;
}

.listItem:hover {
  background-color: #3b3838;
  color: whitesmoke;
}

.listItem:focus {
  outline: none;
  background-color: #3b3838;
  color: whitesmoke;
}

.list {
  width: 20%;
}

/* Button */
.button {
  float: right;
  cursor: pointer;
  border: none;
  background-color: #312d2d;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #3b3838;
}
