/* Card */
.card {
  margin: 10px 0px;
  height: 100%;
  min-height: 200px;
  width: 90%;
  background-color: #f3f3f3;
}

.content {
  display: flex;
  margin: 10px 0px;
}

.details {
  width: 100%;
}

/* Title */
.title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #312d2d;
}

/* List */
.listItem {
  border: 1px rgb(87, 83, 83) solid;
  font-size: 0.8em;
  float: right;
  cursor: pointer;
  background-color: #312d2d;
  color: whitesmoke;
}

.listItem:hover {
  background-color: #3b3838;
  color: whitesmoke;
}

.listItem:focus {
  outline: none;
  background-color: #3b3838;
  color: whitesmoke;
}

.list {
  width: 20%;
}

/* Buttons */
.button {
  float: right;
  cursor: pointer;
  border: none;
  background-color: #312d2d;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #3b3838;
}

.modalButton {
  cursor: pointer;
  border: none;
  background-color: #312d2d;
  margin-top: 15px;
}

.modalButton:hover {
  background-color: #3b3838;
}

/* Table */
.table {
  margin: 20px 2.5%;
  border: 1px solid black;
  width: 95%;
}

.table td {
  width: 14.2%;
  height: auto;
  padding: 0;
}

.table td:hover {
  cursor: pointer;
  background-color: #f9f4f0;
}

.table th {
  text-align: center;
  font-size: 1.5em;
}
