/* Row */
.row {
  display: block;
}

/* Card */
.workoutsCard {
  margin: 10px auto;
  min-height: 300px;
  height: 100%;
  width: 90%;
  background-color: var(--dark-theme-container);
  color: var(--dark-theme-text);
  border: 1px solid var(--dark-theme-border);
}

.container {
  display: flex;
}

.details {
  margin: 10px 20px;
  width: 100%;
}

.title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #312d2d;
  text-align: center;
}

/* List */
.listItem {
  border: 1px rgb(87, 83, 83) solid;
  font-size: 0.8em;
  float: right;
  cursor: pointer;
  background-color: var(--dark-theme-button);
  color: var(--dark-theme-text);
}

.listItem:hover {
  background-color: var(--dark-theme-button-hover);
  color: var(--dark-theme-text);
}

.listItem:focus {
  outline: none;
  background-color: #3b3838;
  color: var(--dark-theme-text);
}

.list {
  width: 15%;
  margin: 10px 0;
}
