/* Content */
.container {
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #413f3f;
}

/* Table */
.table th {
  background-color: #413f3f;
  color: whitesmoke;
}
