/* Content */
.container {
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #413f3f;
}

/* Table */
.table {
  border: 1px solid var(--dark-theme-border);
}

.table th {
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-text);
}

.table td {
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-text);
}
