/* Row */
.row {
  display: block;
}

/* Card */
.workoutsCard {
  margin-top: 10px;
  min-height: 300px;
  height: 100%;
  width: 50%;
  background-color: #f3f3f3;
}

.container {
  display: flex;
}

.details {
  margin: 10px 20px;
  width: 100%;
}

.title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #312d2d;
  text-align: center;
}

/* List */
.listItem {
  border: 1px rgb(87, 83, 83) solid;
  font-size: 0.8em;
  float: right;
  cursor: pointer;
  background-color: #413f3f;
  color: whitesmoke;
}

.listItem:hover {
  background-color: #636060;
  color: whitesmoke;
}

.listItem:focus {
  outline: none;
  background-color: #3b3838;
  color: whitesmoke;
}

.list {
  width: 15%;
  margin: 10px 0;
}
