.image {
  margin: 5px 0px;
  width: 40px;
  height: auto;
}

.title {
  margin: auto;
  text-align: center;
  font-size: small;
  color: whitesmoke;
}

.button {
  width: 70px;
  border-radius: 10px;
  background-color: #312d2d;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.button:hover {
  background-color: beige;
}

.button:focus {
  border: none;
  outline: none;
}

.container {
  margin: 10px 0px;
}
