/* Color Palette */
:root {
  /* Background Colors */
  --dark-theme-background: #06080a;
  --dark-theme-off-background: #12171d;

  /* Container Colors */
  --dark-theme-container: #0d1317;

  /* Text Colors */
  --dark-theme-text: #f9f4f0;
  --dark-theme-subtext: #d1cdc9;
  --dark-theme-button-text: #06080a;

  /* Border Colors */
  --dark-theme-border: #3b3838;

  /* Button Colors */
  /* --dark-theme-button: #413f3f; */
  --dark-theme-button: #2c3847;
  --dark-theme-button-hover: #232e3a;

  /* Input Colors */
  --dark-theme-input: #202934;
}
