.mainContainer {
  border: 1px solid var(--dark-theme-border);
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  color: var(--dark-theme-text);
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}

.subContainer {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.subTitleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-theme-border);
  padding: 5px;
}

.title {
  font-size: 20px;
}

.button {
  background-color: var(--dark-theme-off-background);
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.searchControl {
  border: none;
  background-color: var(--dark-theme-off-background);
  cursor: pointer;
  color: var(--dark-theme-text);
  margin: 5px 0 10px 0;
}

.searchControl:focus {
  background-color: var(--dark-theme-off-background);
  cursor: default;
  color: var(--dark-theme-text);
  box-shadow: none;
}

.searchControl::placeholder {
  color: var(--dark-theme-text);
}

/* Offcanvas */
.offcanvas {
  background-color: var(--dark-theme-off-background);
  color: var(--dark-theme-text);
}

.offcanvasTitle {
  font-size: 30px;
  border-bottom: 1px solid var(--dark-theme-border);
  width: 95%;
  padding: 5px;
  margin: 20px auto;
}

/* Form */
.formGroup {
  margin: 10px 0;
}

.formControl {
  border: 1px solid var(--dark-theme-border);
  background-color: var(--dark-theme-input);
  cursor: pointer;
  color: var(--dark-theme-text);
  margin: 10px 0;
}

.formControl:focus {
  background-color: var(--dark-theme-input);
  cursor: default;
  color: var(--dark-theme-text);
  box-shadow: none;
}

.formControl::placeholder {
  color: var(--dark-theme-text);
}

.formButton {
  margin: 30px 0px;
  width: 20%;
}

.submitButton {
  margin-top: 30px;
}
