.mainContainer {
  border: 1px solid var(--dark-theme-border);
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-text);
  border-radius: 10px;
  min-height: 500px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  border-bottom: 1px solid var(--dark-theme-border);
  padding: 5px;
}

.title {
  font-size: 35px;
}

.barContainer {
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bar {
  margin: 15px auto;
  text-align: center;
  height: 200px;
  width: 200px;
}
