.mainContainer {
  width: 100%;
  border-radius: 10px;
  margin: 5px auto;
  color: var(--dark-theme-text);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-theme-off-background);
}

.information {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
}

.detailText {
  font-size: 12px;
  color: var(--dark-theme-subtext);
}

.addIcon {
  margin-right: 10px;
  cursor: pointer;
}

.dropdownButton {
  background-color: var(--dark-theme-off-background);
  border: none;
}

.dropdownButton:focus,
.dropdownButton:active,
.dropdownButton:hover,
.dropdownButton:focus:active {
  background-color: var(--dark-theme-off-background);
}

.dropdownButton::after {
  display: none !important;
}

.dropdownMenu {
  background-color: var(--dark-theme-off-background);
}

.dropdownItem {
  color: var(--dark-theme-text);
}

.dropdownItem:hover {
  background-color: var(--dark-theme-container);
  color: var(--dark-theme-text);
}
