.mainContainer {
  width: 95%;
  margin: 20px auto;
  color: var(--dark-theme-text);
  background-color: var(--dark-theme-off-background);
  border-radius: 10px;
  min-height: 100px;
  padding: 5px 10px;
  padding-left: 10px;
}

.titleContainer {
  border-bottom: 1px solid var(--dark-theme-border);
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.addContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: 20px;
}

.foodContainer {
  padding: 10px 0;
}

.foodTitle {
  font-size: 18px;
}

.foodDetails {
  color: var(--dark-theme-subtext);
}

/* Offcanvas */
.offcanvas {
  background-color: var(--dark-theme-off-background);
  color: var(--dark-theme-text);
}

.offcanvasTitle {
  font-size: 30px;
  border-bottom: 1px solid var(--dark-theme-border);
  width: 95%;
  padding: 5px;
  margin: 20px auto;
}

/* Form */
.formGroup {
  margin: 10px 0;
}

.formControl {
  border: 1px solid var(--dark-theme-border);
  background-color: var(--dark-theme-input);
  cursor: pointer;
  color: var(--dark-theme-text);
  margin: 10px 0;
}

.formControl:focus {
  background-color: var(--dark-theme-input);
  cursor: default;
  color: var(--dark-theme-text);
  box-shadow: none;
}

.formControl::placeholder {
  color: var(--dark-theme-text);
}

.formButton {
  margin: 30px 0px;
  width: 20%;
}

.submitButton {
  margin-top: 30px;
}
