.content {
  margin-top: 20px;
}

.sideContainer {
  margin-left: 20px;
  color: var(--dark-theme-text);
  border: 1px solid var(--dark-theme-border);
  border-radius: 10px;
  height: 500px;
}

.title {
  font-size: 35px;
  padding: 5px;
  margin: 0 10px;
  border-bottom: 1px solid var(--dark-theme-border);
}

.logItemContainer {
  overflow-y: scroll;
  height: 420px;
  width: 95%;
  margin: 0 auto;
}
