/* Content */
.container {
  background-color: #535050;
  display: inline-block;
}

.title {
  font-weight: bold;
  font-size: 1.7em;
  color: #312f2f;
}

/* Button */
.button {
  background-color: #535050;
  border: none;
  font-weight: bold;
  font-size: 1.5em;
  color: whitesmoke;
}

.button:hover {
  background-color: #535050;
  color: whitesmoke;
}

.profileButton {
  margin-top: 20px;
}

/* Icon */
.iconButton {
  float: left;
}

.icon {
  width: 60px;
  height: 60px;
}
