.container {
  background-color: #312d2d;
}

.hamburgerButton {
  width: 50px;
  height: 50px;
  height: auto;
  cursor: pointer;
  border: none;
  background-color: #312d2d;
  margin-top: 10px;
  margin-left: 10px;
}

.hamburgerButton:focus {
  outline: none;
}

.hamburgerButton:hover {
  background-color: #3b3838;
}

.image {
  max-width: 100%;
  height: auto;
}

.heading {
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 2em;
  color: whitesmoke;
  margin: auto 10px;
}

.icon {
  width: 60px;
  height: 60px;
  margin: auto;
}
