.container {
  float: right;
  margin-right: 10px;
}

.title {
  width: 100%;
  text-align: center;
}

/* Button */
.button {
  background-color: var(--dark-theme-button);
  border: none;
}

.button:focus,
.button:active,
.button:hover,
.button:focus:active {
  background-color: var(--dark-theme-button-hover);
}

.button:active:hover {
  background-color: var(--dark-theme-button-hover);
}

.button::after {
  display: none !important;
}

.buttonMenu {
  background-color: var(--dark-theme-button);
}

.buttonMenuItem {
  background-color: var(--dark-theme-button);
  color: var(--dark-theme-text);
}

.buttonMenuItem:hover {
  background-color: var(--dark-theme-button-hover);
  color: var(--dark-theme-text);
}

/* Image */
.image {
  width: 30px;
  height: auto;
  padding: 0;
  margin: 0;
}
