/* Content */
.container {
  float: right;
}

/* Button */
.button {
  background-color: var(--dark-theme-button);
  border: none;
}

.button:hover {
  background-color: var(--dark-theme-button-hover);
  border: none;
}
